.main {
  position: relative;
  padding: 6rem;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;
}

.main::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.pinimg.com/originals/b8/02/72/b8027272774cf4a075e1112e4aec20b3.gif") 0% 0% / cover no-repeat fixed;
  image-rendering: pixelated;
  background-position: center;
  z-index: -1; 

}

.navigation {
  background-color: #000;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 0 auto;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: background-color 0.8s;
}

.navigation.down {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 5;
}

.container_logo{
  width: 100px;
  height: 5em;
}
.logo{
  border-radius: 20px;
  mask-image: linear-gradient(180deg, transparent -40%, black 70%);
  object-fit: cover; 
  width: 100%; 
  height: 100%; 
}

.logo.down{
  mask-image: none;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 90%;
}
.menu a{
  text-decoration: none;
  color: #fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu a:hover{
  background-color:#ff4d73;
  transition: all ease-in-out 0.4s;
  border-radius: 1em;
}

.grid_wrapper {
  position: relative;
  width: 40%;
  height: 100%;
  display: grid;
  grid-gap: 10px; 
  min-width: 400px;
  padding: 20px;
  z-index: 1;
}


.grid_wrapper > .img:nth-child(2),
.grid_wrapper > .img:nth-child(3) {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 0fr;
  width: 100%;
  height: auto;

}

.grid_wrapper > .img:nth-child(4) {
  grid-row: 3/ 1;
  width: 100%;
  
}
.grid_wrapper > .img:nth-child(1) ,
.grid_wrapper > .img:nth-child(5) {
  grid-row: 2/ 0;
  width: 100%;
}

/* .img{
  display: inline-block;
  vertical-align: middle;
} */

.portada{
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  object-fit: cover;
  filter: brightness(90%);
}

.slogan{
  color:#fff;
  width: 50%;
  padding: 5rem;
  height: 0 auto;
}
.slogan h1{
  font-size: 6rem;
  letter-spacing: 10px;
  text-rendering: optimizeLegibility;
  text-align: center;
  line-height: 1.2;
}

.slogan p{
  color: #FFFF9B;
  font-size: 2.5rem; 
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  margin-top: 10%;
  text-rendering: optimizeLegibility;
}

.contentAnime{
  overflow: hidden;
  background-color: #E8E8E8;
  padding: 3rem;
}

.contentAnime h1{
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
}

.card {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.cardContent {
  padding: 50px;
  width: 50%;
  height: 0 auto;
  gap: 30px;
  transition: background-color 0.3s ease;
  background-color: #292929;
  border-radius: 3rem;
}
.cardContent:hover {
  background-color: #ff4d73;
  transform: scale(1.1); 
}

.cardContent h2 {
  margin-bottom: 10px;
}

.cardContent p{
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 1px;
  
}

.button{
  background-color: #E8E8E8;
  border: none;
  width: 80px;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 20px;

}
.button:hover{
  background-color: #cecece;
}

.no_found{
  width: 100%;
  height: 80vh;
  display: grid;
  place-items: center;
  font-size: 4em;
  background-color: #fff;
}

/* Enable hover only on non-touch devices */

/* Mobile */
@media (max-width: 700px) {
  .main {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0px;
  }
  
  .contentAnime{
    padding: 1rem;
  }
  
  .cardContent {
    width: 100%;
  }
  
  .grid_wrapper {
    position: relative;
    width: 40%;
    height: 100%;
    display: grid;
    grid-gap: 10px; 
    min-width: 400px;
    padding: 20px;
    z-index: 1;
  }

  .slogan{
    color:#fff;
    width: 100%;
    padding: 0;
    height: 0 auto;
  }
  .slogan h1{
    font-size: 4rem;
    text-align: justify;
  }
  
  .slogan p{
    margin-top: 5%;
  }
  
  .menu {
    gap: 20px;

  }
  .menu a{
    padding: 15px;
  }
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0px;
  }
 
  .contentAnime{
    padding: 1rem;
  }
  
  .cardContent {
    width: 100%;
  }
  
  .grid_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px; 
    min-width: 400px;
    padding: 20px;
    z-index: 1;
  }

  .slogan{
    color:#fff;
    width: 100%;
    padding: 0;
    height: 0 auto;
  }
  .slogan h1{
    font-size: 4rem;
    text-align: center;
  }
  
  .slogan p{
    margin-top: 5%;
  }

}

